.button {
  @include flex-center(true);

  height: var(--button-height);
  border-radius: var(--border-radius);
  padding-inline: 35px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  padding-top: 20px;
  padding-bottom: 20px;

  @include hover {
    background-color: var(--color-green);
    color: var(--color-dark);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &-green {
    background-color: var(--color-green);
    color: var(--color-dark);
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-dark);
      border-color: var(--color-green);
      color: var(--color-green);
    }
  }
}
