.field {
  --fieldInputHeight: var(--input-height);
  --fieldInputTextColor: var(--color-dark);
  --fieldInputBgColor: var(--color-light);
  --fieldInputBorderColor: var(--color-dark);
  --fieldInputPlaceholderColor: var(--color-gray-alt);
  --fieldInputHoverBgColor: var(--color-green);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;

  @include mobile {
    row-gap: 10px;
  }

  &--big-height {
    --fieldInputHeight: var(--button-height);
  }

  &--dark-bg {
    --fieldInputBgColor: var(--color-dark-alt);
    --fieldInputBorderColor: var(--color-light);
    --fieldInputPlaceholderColor: var(--color-light);
    --fieldInputTextColor: var(--color-light);
    --fieldInputHoverBgColor: var(--color-dark);
  }

  &__label {
    @include fluid-text(16, 14);
  }

  &__input {
    width: 100%;
    height: var(--fieldInputHeight);
    padding-inline: 30px;
    border: 1px solid var(--fieldInputBorderColor);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    color: var(--fieldInputTextColor);
    background-color: var(--fieldInputBgColor);
    @include mobile {
      padding-inline: 20px;
    }

    @include hover {
      background-color: var(--fieldInputHoverBgColor);
    }

    &:focus {
      border-color: var(--color-green);
      outline: none;
    }

    &::placeholder {
      color: var(--fieldInputPlaceholderColor);
    }

    &--textarea {
      height: 190px;
      padding-block: 18px;
      resize: none;

      @include mobile {
        height: 132px;
      }
    }
  }
}
