.footer {
  @include mobile {
    padding-inline: 0;
  }
  &__inner {
    padding: 55px 50px 60px;
    color: var(--color-light);
    background-color: var(--color-dark);

    @include mobile-above {
      border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    }

    @include mobile {
      align-items: center;
      row-gap: 37px;
      display: flex;
      flex-direction: column;
      padding: 50px var(padding-x) 30px var(padding-x);
    }
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;

    @include tablet {
      flex-direction: column;
      row-gap: 37px;
      align-items: center;
    }

    @include mobile {
      display: contents;
    }

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      @include mobile {
        flex-direction: column;
        row-gap: 15px;
      }
    }
    &-link {
      display: inline-flex;
      align-items: center;
      height: 30px;
      text-decoration: underline;

      @include hover {
        color: var(--color-green);
      }
    }
  }

  &__soc1als {
    @include mobile {
      order: 1;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    @include mobile-s {
      width: 100%;
    }

    @include mobile-above {
      &:not(:last-child) {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: var(--border);
        border-color: var(--color-light);
      }
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 27px;

    @include mobile {
      text-align: center;
      align-items: center;
      margin-bottom: 37px;
    }

    &-title {
      color: var(--color-dark);
    }
    &-body {
      font-size: normal;

      p {
        --paragraphMarginBottom: 20px;
      }

      a {
        @include hover {
          color: var(--color-green);
        }
      }
    }
  }

  &__extra {
    display: flex;
    column-gap: 40px;

    @include mobile {
      order: 2;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      width: 100%;
      border-top: var(--border);
      border-color: var(--color-light);
      padding-top: 37px;
    }
  }

  &__privacy-policy-link {
    text-decoration: underline;

    @include hover {
      color: var(--color-green);
    }
  }
}
