.team-card {
  height: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  @include mobile {
    padding: 40px 50px;
  }

  &__header {
    display: flex;
  }

  &__image {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__info {
    align-self: end;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__name {
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__link {
    @include flex-center;
    @include square(34px);

    flex-shrink: 0;
    color: var(--color-green);
    background-color: var(--color-dark);
    border-radius: 50%;
    margin-left: auto;
    align-self: start;
  }

  &__body {
    margin-top: 28px;
    padding-top: 28px;
    border-top: var(--border);

    @include mobile {
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}
