@import "variables";
@import "mixins";
@import "fonts";
@import "globals";
@import "media";
@import "normalize";
@import "utils";

@import "blocks/field", "blocks/radios", "blocks/radio", "blocks/button", "blocks/grid",
  "blocks/burger-button", "blocks/header", "blocks/cross-button", "blocks/mobile-overlay",
  "blocks/section", "blocks/hero", "blocks/banner", "blocks/services", "blocks/pudlle-bg",
  "blocks/services-card", "blocks/studies", "blocks/process", "blocks/team", "blocks/team-card",
  "blocks/pagination", "blocks/review", "blocks/review-card", "blocks/contact-us", "blocks/soc1als",
  "blocks/subscribe-form","blocks/footer";

/* r --- IGNORE --- */
